*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --nav-color: #ebe6e6;
}
body{
    background-color: #e3e4e9;
}


@media screen and (max-width:575.99px){
    .nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 120px;
        width: 100%;
        position: fixed;
        background-color: var(--nav-color);
        border-bottom: 2px solid #dfdcdc;
    }
    
    .logo img{
        height: 6.7em;
        margin-top: -30px;
    }
    
    .nav__ul{
        display: flex;
        align-items: center;
        flex-direction: column;
        position: absolute;
        top: 120px;
        background-color: var(--nav-color);
        width: 100%;
        height: 180px;
        list-style: none;
        left: -100%;
    }
    .menu-visible{
        left: 0;
        transition: all .3s;
    }
    .nav__li{
        margin-top: 38px;
    }
    
    
    .nav__a{
        font-family: 'Acme', sans-serif;
        font-size: 1.1em;
        text-transform: uppercase;
        text-decoration: none;
        color: #2c2c2c;
        background-color: #6A7FF2;
        padding: 8px 100px;
        border-radius: 10px;
    }
    
    
    /* btn */
    .btn{
        cursor: pointer;
        margin-right: 60px;
        margin-top: 50px;
    }
    #spn1, #spn2, #spn3{
        position: absolute;
        content: '';
        height: 3px;
        width: 30px;
        background-color: #6A7FF2;
        transition: all .35s
    }
    #spn1{
        margin-top: -8px;
    }
    #spn3{
        margin-top: 8px;
    }
    
    #spn1.spn1{
        margin-top: 0;
        transform: rotate(45deg);
    }
    #spn2.spn2{
        transform: rotate(-45deg);
    }
    
    #spn3.spn3{
       opacity: 0;
    }
    
    /* btn end */
    /* form*/
    .form-container{
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 160px 0 0 0;
        margin-bottom: 70px;
        height: 700px;
    }
    
    
    form{
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: #e8e8eb;
        padding: 70px 30px;
        border-radius: 5px;
        border: 1px solid #bdbdbd;
    }
    form input{
        width: 75vw;
        padding: 9px 8px;
        margin-top: 10px;
        outline: none;
        border: none;
        border-bottom: 2.5px solid #051b80;
        background-color: #6a7ef265;
        border-radius: 8px;
    }
    
    form input:-webkit-autofill{
        box-shadow: 0 0 0 30px #6a7ef265 inset;
    }

    form input::placeholder{
        color: #2c2c2c;
        font-family: 'Acme', sans-serif;
    }
    
    .enviar{
        font-family: 'Acme', sans-serif;
        background-color:#3a56f8;
        padding: 12px;
        border: none;
        color: #dfdcdc;
        font-size: 1.2em;
    }
    form h2{
        font-family: 'Acme', sans-serif;
        font: 2.8em;
        text-align: center;
        padding: 0 0 20px 0;
        color: #04506e;
    }

    form a{
        text-align: center;
        padding: 50px 0 10px 0;
        color: #04035a;
        font-family: sans-serif;
        text-decoration: none;
    }

    form a:last-child{
        padding: 15px;
    }

    form a span{
        color: #0725a7;
    }

    
    
    footer{
        text-align: center;
        height: 150px;
        border-top: 1px solid #a0a0a0;
        padding: 20px 0;
        margin-top: 0;
    }
}

@media screen and (min-width:576px) and (max-width:767.99px){
    .nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 120px;
        width: 100%;
        position: fixed;
        background-color: var(--nav-color);
        border-bottom: 2px solid #dfdcdc;
    }
    
    .logo img{
        height: 6.7em;
        margin-top: -30px;
    }
    
    .nav__ul{
        display: flex;
        align-items: center;
        flex-direction: column;
        position: absolute;
        top: 120px;
        background-color: var(--nav-color);
        width: 100%;
        height: 180px;
        list-style: none;
        left: -100%;
    }
    .menu-visible{
        left: 0;
        transition: all .3s;
    }
    .nav__li{
        margin-top: 38px;
    }
    
    
    .nav__a{
        font-family: 'Acme', sans-serif;
        font-size: 1.1em;
        text-transform: uppercase;
        text-decoration: none;
        color: #2c2c2c;
        background-color: #6A7FF2;
        padding: 8px 100px;
        border-radius: 10px;
    }
    
    
    /* btn */
    .btn{
        cursor: pointer;
        margin-right: 60px;
        margin-top: 50px;
    }
    #spn1, #spn2, #spn3{
        position: absolute;
        content: '';
        height: 3px;
        width: 30px;
        background-color: #6A7FF2;
        transition: all .35s
    }
    #spn1{
        margin-top: -8px;
    }
    #spn3{
        margin-top: 8px;
    }
    
    #spn1.spn1{
        margin-top: 0;
        transform: rotate(45deg);
    }
    #spn2.spn2{
        transform: rotate(-45deg);
    }
    
    #spn3.spn3{
       opacity: 0;
    }
    
    /* btn end */
    /* form*/
    .form-container{
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 160px;
    }
    .form{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    
    form{
        background-color: #e8e8eb;
        padding: 90px 40px;
        border-radius: 5px;
        border: 1px solid #bdbdbd;
    }
    form input{
        width: 75vw;
        padding: 11px 8px;
        margin-top: 14px;
        outline: none;
        border: none;
        border-bottom: 2.5px solid #051b80;
        background-color: #6a7ef265;
        border-radius: 8px;
    }
    
    form input:-webkit-autofill{
        box-shadow: 0 0 0 30px #6a7ef265 inset;
    }

    form input::placeholder{
        color: #2c2c2c;
        font-family: 'Acme', sans-serif;
    }
    
   .enviar{
        font-family: 'Acme', sans-serif;
        background-color:#3a56f8;
        padding: 14px;
        border: none;
        color: #dfdcdc;
        font-size: 1.3em;
    }
    form h2{
        font-family: 'Acme', sans-serif;
        font-size: 2.4em;
        text-align: center;
        padding: 0 0 30px 0;
        color: #04506e;
    }
    
    footer{
        text-align: center;
        height: 350px;
        border-top: 1px solid #a0a0a0;
        padding: 20px 0;
        margin-top: 0;
    }
}

@media screen and (min-width:768px) and (max-width:991.99px){
    .nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 120px;
        width: 100%;
        position: fixed;
        background-color: var(--nav-color);
        border-bottom: 2px solid #dfdcdc;
    }
    
    .logo img{
        height: 6.7em;
        margin-top: -30px;
    }
    
    .nav__ul{
        display: flex;
        align-items: center;
        flex-direction: column;
        position: absolute;
        top: 120px;
        background-color: var(--nav-color);
        width: 100%;
        height: 180px;
        list-style: none;
        left: -100%;
    }
    .menu-visible{
        left: 0;
        transition: all .3s;
    }
    .nav__li{
        margin-top: 38px;
    }
    
    
    .nav__a{
        font-family: 'Acme', sans-serif;
        font-size: 1.1em;
        text-transform: uppercase;
        text-decoration: none;
        color: #2c2c2c;
        background-color: #6A7FF2;
        padding: 8px 100px;
        border-radius: 10px;
    }
    
    
    /* btn */
    .btn{
        cursor: pointer;
        margin-right: 60px;
        margin-top: 50px;
    }
    #spn1, #spn2, #spn3{
        position: absolute;
        content: '';
        height: 3px;
        width: 30px;
        background-color: #6A7FF2;
        transition: all .35s
    }
    #spn1{
        margin-top: -8px;
    }
    #spn3{
        margin-top: 8px;
    }
    
    #spn1.spn1{
        margin-top: 0;
        transform: rotate(45deg);
    }
    #spn2.spn2{
        transform: rotate(-45deg);
    }
    
    #spn3.spn3{
       opacity: 0;
    }
    
    /* btn end */
    /* form*/
    .form-container{
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 160px;
    }
    .form{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    
    form{
        background-color: #e8e8eb;
        padding: 90px 40px;
        border-radius: 5px;
        border: 1px solid #bdbdbd;
    }
    form input{
        width: 75vw;
        padding: 11px 8px;
        margin-top: 14px;
        outline: none;
        border: none;
        border-bottom: 2.5px solid #051b80;
        background-color: #6a7ef265;
        border-radius: 8px;
    }
    
    form input::placeholder{
        color: #2c2c2c;
        font-family: 'Acme', sans-serif;
    }

    form input:-webkit-autofill{
        box-shadow: 0 0 0 30px #6a7ef265 inset;
    }
   .enviar{
        font-family: 'Acme', sans-serif;
        background-color:#3a56f8;
        padding: 14px;
        border: none;
        color: #dfdcdc;
        font-size: 1.3em;
    }
    form h2{
        font-family: 'Acme', sans-serif;
        font-size: 2.4em;
        text-align: center;
        padding: 0 0 30px 0;
        color: #04506e;
    }
    
    footer{
        text-align: center;
        height: 350px;
        border-top: 1px solid #a0a0a0;
        padding: 20px 0;
        margin-top: 0;
    }
}

@media screen and (min-width:992px) and (max-width:1199.99px){
    .nav{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 120px;
        width: 100%;
        position: fixed;
        background-color: var(--nav-color);
        border-bottom: 2px solid #dfdcdc;
    }
    
    .logo img{
        height: 6.7em;
        margin-top: 0px;
    }
    
    .nav__ul{
        display: flex;
        align-items: center;
        position: absolute;
       list-style: none;
       right: 10px;
       bottom: 16px;
    }

    .nav__li{
        margin: 20px 10px 0 0;
    }
    
    
    .nav__a{
        font-family: 'Acme', sans-serif;
        font-size: 0.9em;
        text-transform: uppercase;
        text-decoration: none;
        color: #2c2c2c;
        background-color: #bcbcbd;
        padding: 5px 20px;
        border-radius: 10px;
        color: #ffffff;
    }

    .nav__a:hover{
        background-color:#b3b3b3 ;
    }
.active{
    background-color:#6a7ef2e7 ;
}

.active:hover{
    background-color:#5767c5e7 ;

}
    /* form*/
    .form-container{
        display: flex;
        justify-content: right;
        width: 100%;
        height:700px;
        padding: 160px;
    }
    
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #e8e8eb;
        padding: 40px 30px;
        border-radius:  10px;
        border: 1px solid #bdbdbd;
        width: 500px;

    }
    form input{
        font-family: 'Acme', sans-serif;
        width: 380px;
        padding: 11px 8px;
        margin-top: 14px;
        outline: none;
        border: none;
        border-bottom: 2.5px solid #051b80;
        background-color: #6a7ef25b;
        border-radius: 8px;
    }
    
    form input:-webkit-autofill{
        box-shadow: 0 0 0 30px #6a7ef265 inset;
    }
    form input::placeholder{
        color: #2c2c2c;
        font-family: 'Acme', sans-serif;
    }
    
    .enviar{
        font-family: 'Acme', sans-serif;
        background-color:#3a56f8;
        padding: 13px;
        border: none;
        color: #dfdcdc;
        font-size: 1.3em;
    }
    form h2{
        font-family: 'Acme', sans-serif;
        font-size: 1.8em;
        text-align: center;
        padding: 0 0 20px 0;
        color: #04506e;
    }
    
    footer{
        text-align: center;
        height: 300px;
        border-top: 1px solid #a0a0a0;
        padding: 20px 0;
        margin-top: 0;
    }
}