*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

:root{
    --nav-color: #f2f2f2f2; 
}

a{
    text-decoration: none;
}
.nav{
display: flex;
align-items: center;
justify-content: space-between;
background-color: var(--nav-color);
width: 100%;
height: 80px;
position: fixed;
z-index: 1;
}

.logo img{
    height: 40px;
    z-index: 100;
}

.nav__ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: fixed;
    top:0;
    background-color: #fff;
    height: 100vh;
    width: 100%;
    list-style: none;
    z-index: 1000;
    left: -100%;
    transition: all .4s;
}

.menu-visible{
    left: 0;
    transition: all .4s;
}
.nav__li{
    position: relative;
    top: 25px;
   margin-top: 35px;
}

.nav__a{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 1.1em;
    color: #151515;
}
.nav__link{
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.nav__link a{
    font-size: 0.8em;
    margin: 45px 15px;
    text-align: center;
    display: block;
}
.search-icon{
    margin-right: 30px;
    font-size: 1.3em;
}
.search{
  display: none;
 margin-left: 20px;
  padding: 10px 5px;
  width: 75%;
  border-radius: 8px;
  outline: none;
  border: 1px solid #4b4b4b;
  background-color: #dddcdc;
}
::placeholder{
    font-family: sans-serif;
    color: #151515;
}
.close-icon{
    display: none;
    margin-right: 40px;
    font-size: 22px;
}
/* Btn */
.btn{
    font-size: 1.6em;
    margin-left: 30px;
    z-index: 100;
}
.btn-close{
    position: absolute;
    left: 90%;
    float: left;
    top: 25px;
    font-size: 20px;
    color: rgb(18, 0, 0);
    transition: all .3s;
}
