*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* #9ed7fbf5 */
:root{
    --nav-color: #9ed7fbf5;
    --nav-menu: #f5f5f5f5; 
}
body{
    background-color: #f0eeee;
}
a{
    font-family: 'Acme', sans-serif;
    text-decoration: none;
}
ul{
    list-style: none;
}

html{
    scroll-behavior: smooth;
}

@media  screen and (max-width:576px) {

/* btn */

.btn{
    position: relative;
    margin-left: 30px;
}
#spn1, #spn2, #spn3{
    position: absolute;
    content: '';
    width: 27px;
    height: 3px;
    background-color:#05518f;
    transition: all .5s;
}

#spn1{
    margin-top: -8px;
}

#spn3{
    margin-top: 8px;
}

#spn1.spn1{
    margin-top: 0;
    transform: rotate(45deg);
}
#spn2.spn2{
    transform: rotate(-45deg);
}
#spn3.spn3{
  opacity: 0;
}
/* btn end */

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: var(--nav-color);
    border-bottom: 1px solid #e1e1e1;
    box-shadow: 0 10px 20px rgb(0,0,0, .1);
    z-index: 1000;
}

.logo{
    font-family: 'Acme', sans-serif;
    font-weight: bold;
    letter-spacing: .1cm;
    color: #033b69;
    font-size: 1.8em;
    position: relative;
   right: 38%;
}
.nav__ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 100px;
    width: 70%;
    height: 100vh;
    background-color:var(--nav-menu);
    left: -100%;
    border-right: 1px solid #e2e2e2;
    border-top-right-radius: 10px;
    box-shadow: 0 15px 20px rgb(0,0,0, .3);
    text-align: center;
    transition: all .3s;
}

.menu-visible{
    left: 0;
transition: all .3s;
}

.menu-off{
    left: -100%;
   transition: all .3s;
}

.nav__li{
    padding: 15px 8px;
    border-bottom: 1px solid #bfbebe;
    width: 100%;
}
/* .nav__li:hover{
    background-color: #d9dbdcf5;
} */

.nav__a{
    font-family:'Acme', sans-serif ;
    font-size: 1.25em;
    font-weight: 100;
    color: #0b63ab;
}

.nav__a:hover{
    color: #084271;
}
#overlay {
    position: fixed; 
    width: 100%; 
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
    z-index: 1; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    opacity: 0;
    display:none;
  }

 #overlay.over-visible{
      opacity: 100%;
      transition: all 5;
      display: block;
  }

  .container{
    width: 100%;
    height: 100%;
    z-index: -1;
    padding-top: 100px;
}
.slide{
    position: relative;
    background: url(../images/a1.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 400px;
}
.wave img {
    position: absolute;
    bottom: -10px;
}
#about{
    text-align: center;
    padding: 50px;
}
#contact{
    padding: 30px 0;
background-color: #e3e3e3;
z-index: 100;
}

.container-form{
    display: flex;
    justify-content: center;
}

.container-form form{
    display: flex;
    flex-direction: column;
    border: 2px solid #033b69;
    padding: 15px 15px;
    border-top-right-radius: 15px;
    border-end-start-radius:15px ;
    
}

.container-form form input{
    font-family: 'Acme', sans-serif;
  font-size: 1.05em;
    padding: 10px 8px;
    width: 340px;
    margin-top: 10px;
    outline: none;
    border: none;
    background-color: #90b8d8b0;
    border-bottom: 3px solid #033b69;
}

::placeholder{
    color: #000;
    font-family: 'Acme', sans-serif;
}

.container-form form input:last-child{
    border: none;
    border-radius: 7px;
    background-color:#0185dd;
    padding: 12px 0;
    font-family: 'Acme', sans-serif;
    margin-top: 12px;
    margin-bottom: 10px;

}
.container-form form textarea{
    outline: none;
    padding: 8px 8px;
    margin-top: 8px;
    background-color: #90b8d8;
    border: none;
    border-bottom: 3px solid #033b69;
    font-family: 'Acme', sans-serif;
    font-size: 1.1em;
}

form h2{
    font-family: 'Acme', sans-serif;
    font-size: 1.8em;
    color: #033b69;
    text-align: center;
    padding: 10px;
}


/* slider */
.slider-container{
    width: 100%;
}
.slider-container h2{
    font-family: 'Acme', sans-serif;
    font-size: 1.8em;
    color: #033b69;
    text-align: center;
    padding: 20px 0  40px 0;
}

.slider{
    display: flex;
    flex-direction:row;
    justify-content: flex-start;
   overflow: hidden;

}
.slider img{
    height: 80px;
    margin: 0 5px;
}
footer{
    background-color: rgb(14, 80, 192);
    height: 400px;
}

}